## IBM DATA SCIENCE PROFESSIONAL CERTIFICATE

### COURSE 9 - WEEK 3 - CAPSTONE PROJECT

#### YAN CARLOMAGNO

# Problem 1

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

#### Step 1: scrape data from Wikipedia Page:

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [6]:
soup = BeautifulSoup(source, 'xml')
table=soup.find('table')

#### Step 2: create pandas DataFrame with PostalCode, Borough, Neighborhood as columns names

In [7]:
column_names = ['PostalCode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)
df

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

#### Step 3: search wiki and save data to dataframe

In [9]:
for tr in table.find_all('tr'):
    row_data = []
    for td in tr.find_all('td'):
        row_data.append(td.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data
df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
355,M5Z,Not assigned,Not assigned
356,M6Z,Not assigned,Not assigned
357,M7Z,Not assigned,Not assigned
358,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
359,M9Z,Not assigned,Not assigned

#### Step 4: data cleaning

- Drop Borough with "Not assigned" values
- Replace Neighborhood with "Not assigned" values with Borough value

In [11]:
df = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
df = df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: ','.join(x))
temp = df['Neighborhood'] == 'Not assigned'
df.loc[temp, 'Neighborhood'] = df.loc[temp, 'Borough']
df

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                      Malvern, Rouge,Malvern, Rouge
1          M1C  Scarborough  Rouge Hill, Port Union, Highland Creek,Rouge H...
2          M1E  Scarborough  Guildwood, Morningside, West Hill,Guildwood, M...
3          M1G  Scarborough                                      Woburn,Woburn
4          M1H  Scarborough                                Cedarbrae,Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                      Weston,Weston
99         M9P    Etobicoke                                Westmount,Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke  Northwest, West Humber - Clairville,Northwest,...

[103 rows x 3 columns]

In [12]:
df.shape

(103, 3)